function isSignedIn() {
  return request.auth != null;
}
function isAdmin() {
  return request.auth.token.admin == true;
}
function isStaff() {
  return request.auth.token.staff == true || isAdmin();
}

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read;
      allow write: if (isSignedIn() && isStaff());
    }
  }
}
