function isSignedIn() {
  return request.auth != null;
}
function isAdmin() {
  return request.auth.token.admin == true;
}
function isStaff() {
  return request.auth.token.staff == true;
}

service firebase.storage {
  match /b/{bucket}/o {
    match /assets/{allPaths=**} {
      allow read;
      allow create, write: if (isSignedIn() && isStaff());
      allow update, delete: if (isSignedIn() && isAdmin());
    }
    match /blogs/{allPaths=**} {
      allow read;
      allow create, write: if (isSignedIn() && isStaff());
      allow update, delete: if (isSignedIn() && isAdmin());
    }
  }
}
