@import 'vars.scss';

.listStyle {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.listItem {

    display: flex;
    text-align: left;
    font-size: 1rem;
    margin-bottom: 1rem;

    & > div {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    & > div:first-child {
        margin-right: 1rem;
    }

    a {
        text-decoration: none;
    }

    img {
        width: 100%;
    }

    .titleWrapper {
        margin-bottom: 1rem;
        color: rgb(61, 158, 214);
        font-size: 1.6rem;
        font-weight: bold;
        text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    }

    .authorAndTime {
        display: flex;
        margin: 0.4rem 0px;
        justify-content: space-between;

        span.author {
            font-weight: bold;
        }

        @media (max-width: $md) {
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        a {
            padding: 2px;
            margin-right: 5px;
            color: white;
            background-color: rgb(8, 10, 151);
            text-decoration: none;
        }
    }

    .icon {
        margin-right: 5px;
    }
}
