.wrapper {
    margin: auto;
    margin-top: 10vh;
    min-height: 60vh;
    max-width: 80vw;
    background-color: rgba(255, 255, 255, 0.02);

	.container {	        
        border-top: 2px solid #737373;
        padding: 2em;
		margin: 0;
		min-height: 60vh;
	}
}
