@import 'vars.scss';

.header {
    margin: 0;
    padding: 0;
    height: $header-height;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #121212;
    display: flex;
    justify-content: center;

    div.nav {
        width: $max-width;
        justify-content: space-between;
        display: flex;
        overflow: hidden;
        user-select: none;
    }
}

a.home {
    display: flex;
    align-items: center;

    color: white;
    font-size: 1.4rem;
    text-align: left;
    text-decoration: none;

    img {
        width: 40px;
        border-radius: 90px;
        margin-right: 8px;
    }

    span {
        padding: 0.8rem 0;
        width: max-content;
    }
}

nav {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: flex-end;

    a {
        display: flex;
        align-items: center;
        color: #999999;
        padding: 1.2rem;
        text-align: center;
        text-decoration: none;
        font-size: 1rem;
        text-align: center;
        position: relative;
    }

    a:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 4px;
        background: #1e73be;
        transform:  scaleX(0);
        transition: transform .5s ease;
    }

    a:hover:before, a:focus::before, a.focused::before {
        transform: scaleX(1);
    }

    a:hover, a:focus, a.focused {
        color: #ffffff;
    }
}
