@import 'vars.scss';

.root {
    background-color: rgba(255, 255, 255, 0.02);
    font-size: 1em;
}

.wrapper {
    margin: auto;
    max-width: $cover-break;
    min-height: 442px;

    @media (max-width: $cover-break) {
        width: 100%;
        margin: 0;
    }

	.container {
        margin: 0;
        padding: 0;
        margin-top: 0.4rem;
        text-align: center;

        @media (max-width: $cover-break) {
            padding: 0 2rem;
        }
    }
}
