<!DOCTYPE html>
<html lang="en">
<head>
	<title>Remtori's Comfy Home</title>
	<meta name="viewport" content="width=device-width">
	<meta name="theme-color" content="#13294D">
	<link rel="manifest" href="/manifest.json">
</head>
<body>
	<div id="app">{{prerender}}</div>
</body>
</html>
