@import './vars';

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	color: #fff;
	background-color: #313131;
}

#app {
	display: flex;
	flex-direction: column;
    min-height: 100vh;
}

.text {
	color: $text-color;
	line-height: 22px;
	font-size: 16px;
}

// For font-awesome pre-rendering size
.icon, .fa-w-16 {
	width: 1em;
	height: 1em;
}
