@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$header-height: 60px;
$footer-height: 60px;

$body-bg: #000;
$body-color: #fff;

$dropdown-bg: $dark;
$dropdown-link-color: $light;